<% layout('/layouts/boilerplate') %>


    <div class="card" style="width: 18rem; border: 1px black solid; background-color: black; color: white;">
        <div class="card-body">
            <h5 class="card-title">
                <%= card.name %>
            </h5>
            <p class="card-text">
                <%= card.cardSetName %>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Attack:</b>
                <%= card.attack %>
            </li>
            <li class="list-group-item"><b>Defense:</b>
                <%= card.defense %>
            </li>
            <li class="list-group-item"><b>HP:</b>
                <%= card.hp %>
            </li>
        </ul>
        <div class="card-footer">
            <a class="btn btn-primary" href="/card/edit/<%= card._id %>">Edit</a>
            <form method="POST" action="/card/delete/<%= card._id %>?_method=DELETE">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>